/* ------------ 상단 로고영역 ------------ */
header {
  width: 100vw; height: 7vh;
  background-color:var(--color-2);

  display: flex;
  justify-content: center;
}

section {
  width: 85vw; height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > div:nth-child(1) {
  width: 4vh; height: 4vh;
  border-radius: 4vh;
  background-color: var(--color-4);
}

section > div:nth-child(3) {
  width: 4vh; height: 4vh;
}